.form-field{
    width: 100%;
    /* height: 56px; */
    margin-bottom: 18px !important;
}
.error-msg{
    color: #e60303;
    margin-top: -18px;
}
.form-paper{
    padding: 20px 30px 80px;
    margin-bottom: 60px;
}
.form-btn{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 60px !important;
    font-weight: 400;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}