.footer{
    background: #171426;
    padding-top: 40px;
    padding-bottom: 100px;
    color: #fff;
}
.footer-col{
    font-weight: 500;
}
.footer-row{
    padding: 0 !important;
    font-size: 15px;
}
.footer-row li{
    margin-bottom: 10px;
}
.footer-icons{
    font-size: 18px;
}